* {
	margin:0;
	padding:0;
}
body{
	background-image:url('../bg4.jpg');
	background-size:100% 100%;
	border:20px solid #654321;
	text-align:center;
}

/*--------------------QUOTE------------------*/
h1{
	position:relative;
	top:250px;
	font-size:80px;
	font-family:'Advent Pro';
	font-weight:400;
	/*font: 400 /1.2 'Merienda One', Helvetica, sans-serif;*/
	color:#800000;
	text-shadow:1px 1px 5px gray;
}
/*-----------------Link-------------------*/
#visitLink{
	position:absolute;
	top:62%;
	left:42%;
	font-size:30px;
	font-family: 'Roboto';
	font-weight:300;
	text-decoration:none;
	color:black;
}
#visitLink:hover{
	color:gray;
}

/*----------bird----------------*/
#bird{
	position:absolute;
	top:10%;
	z-index:3;
}